<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/IcoYoutube.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        
        <div class="main-content">
            {{>header }}
            <p>This site was created by Gustavo Rodriguez. 
                In this you can upload all the videos, to be viewed later.</p>
            <img class = "portrait" src="/img/miniyoutube.png" alt="">
        </div>       
        
         {{>footer}}
    </body>

</html>